@use "../../styles/variables.scss";

.button {
  padding: 20px 36px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  font-size: 16px;
  height: 60px;
  transition: all 0.3s linear;
  cursor: pointer;

  // &:hover {
  //   opacity: 0.8;
  // }

  // &--solid {
  //   background-color: variables.$blue-056;
  //   color: variables.$white-fff;
  // }
  // &--outline-black {
  //   background-color: variables.$white-fff;
  //   border: 1px solid variables.$black-111;
  //   color: variables.$black-111;
  // }

  &.contained {
    color: variables.$white-fff;

    &.blue {
      background-color: variables.$blue-056;

      &:hover {
        background-color: darken(variables.$blue-056, 10%);
      }
    }

    &.black {
      background-color: variables.$black-111;
      &:hover {
        background-color: darken(variables.$black-111, 10%);
      }
    }
  }

  &.outlined {
    background-color: variables.$white-fff;
    border: 1px solid;

    &.blue {
      color: variables.$blue-056;
      border-color: variables.$blue-056;
      &:hover {
        background-color: lighten(variables.$blue-056, 90%);
      }
    }
    &.black {
      color: variables.$black-111;
      border-color: variables.$black-111;
      &:hover {
        background-color: lighten(variables.$black-111, 90%);
      }
    }
  }

  &--w-ful {
    width: 100%;
  }
}
