@use "../../../styles/variables.scss";
@import "../../../styles/responsive.scss";

.brand-story {
  position: relative;
  background-color: variables.$blue-056;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @include respond-to(lg) {
    padding: 100px 0;
  }

  &__title {
    color: variables.$yellow-fcd;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    @include respond-to(lg) {
      font-size: 30px;
      margin-bottom: 30px;
    }
    @include respond-to(xl) {
      font-size: 50px;
      margin-bottom: 40px;
    }
  }

  &__description {
    font-size: 16px;
    text-align: center;
    line-height: 1.2;
    color: variables.$yellow-fcd;

    @include respond-to(sm) {
      max-width: 600px;
      font-size: 18px;
    }
    @include respond-to(lg) {
      font-size: 20px;
    }
  }

  &__main {
    z-index: 100;
    display: grid;
    border-top: 12px solid variables.$black-111;
    margin-top: 50px;

    @include respond-to(sm) {
      margin-left: 100px;
      margin-right: 100px;
    }
    @include respond-to(lg) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      margin-left: 120px;
      margin-right: 120px;
    }
    @include respond-to(xl) {
      margin-left: 160px;
      margin-right: 160px;
    }

    & div {
      border: 1px solid variables.$black-111;
      background-color: variables.$white-fff;
    }

    &__image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      padding: 20px;
      @include respond-to(sm) {
        padding: 24px;
      }
      @include respond-to(lg) {
        padding: 40px;
      }
      &__title {
        font-size: 18px;
        font-weight: 800;
        color: variables.$black-222;
        margin-bottom: 20px;
        @include respond-to(sm) {
          font-size: 20px;
        }
        @include respond-to(lg) {
          font-size: 24px;
          margin-bottom: 40px;
        }
      }
      &__description {
        font-size: 14px;
        line-height: 1.88;
        margin-bottom: 24px;
        @include respond-to(sm) {
          font-size: 16px;
          margin-bottom: 36px;
        }
        @include respond-to(lg) {
          margin-bottom: 42px;
        }
      }
      &__see-more {
        font-weight: 800;
        font-size: 18px;
        padding: 12px 18px;
        height: auto;

        @include respond-to(lg) {
          padding: 20px 36px;
        }
      }
    }
  }

  &__object-05 {
    position: absolute;
    width: 200px;
    right: -20px;
    bottom: 54px;
    z-index: 2;
    img {
      width: 100%;
      height: auto;
    }
    @include respond-to(lg) {
      bottom: 104px;
    }
  }
  &__object-04 {
    position: absolute;
    width: 160px;
    right: -32px;
    bottom: 128px;
    img {
      width: 100%;
      height: auto;
    }
    @include respond-to(lg) {
      bottom: 178px;
    }
  }
  &__object-01 {
    position: absolute;
    width: 80px;
    top: 150px;
    left: -36px;
    img {
      width: 100%;
      height: auto;
    }

    @include respond-to(sm) {
      width: 100px;
      left: 42px;
    }
    @include respond-to(lg) {
      width: 140px;
      left: 10px;
    }
    @include respond-to(xl) {
      width: 160px;
      left: 20px;
    }
  }
  &__object-07 {
    position: absolute;
    width: 80px;
    bottom: 54px;
    left: -40px;
    img {
      width: 100%;
      height: auto;
    }

    @include respond-to(sm) {
      width: 100px;
      bottom: 54px;
      left: 40px;
    }
    @include respond-to(lg) {
      width: 120px;
      bottom: 100px;
      left: 30px;
    }
    @include respond-to(lg) {
      width: 140px;
      bottom: 100px;
      left: 50px;
    }
  }
  &__object-06 {
    display: none;
    position: absolute;
    img {
      width: 100%;
      height: auto;
    }

    @include respond-to(sm) {
      display: block;
      width: 100px;
      bottom: 54px;
      left: -60px;
    }
    @include respond-to(lg) {
      width: 120px;
      bottom: 100px;
      left: -90px;
    }
    @include respond-to(lg) {
      width: 140px;
      bottom: 100px;
      left: -90px;
    }
  }
  &__object-02 {
    position: absolute;
    width: 80px;
    top: 10px;
    right: -40px;
    img {
      width: 100%;
      height: auto;
    }

    @include respond-to(sm) {
      width: 100px;
      top: 20px;
      right: -22px;
    }
    @include respond-to(lg) {
      width: 120px;
      top: 36px;
      right: 70px;
    }
    @include respond-to(xl) {
      width: 140px;
      top: 36px;
      right: 180px;
    }
  }
  &__object-03 {
    display: none;
    position: absolute;

    img {
      width: 100%;
      height: auto;
    }

    @include respond-to(sm) {
      display: block;
      width: 100px;
      top: 52px;
      right: -60px;
    }
    @include respond-to(lg) {
      width: 120px;
      top: 82px;
      right: 10px;
    }
    @include respond-to(xl) {
      width: 140px;
      top: 82px;
      right: 100px;
    }
  }
}
