$black-111: #111111;
$black-222: #222222;
$black-110: #110e03;
$white-fff: #fff;
$gray-d1d: #d1d5db;
$gray-6b7: #6b7280;
$gray-666: #666666;
$gray-a1a: #a1a1a1;
$gray-d4d: #d4d4d4;
$red-dc2: #dc2626;
$blue-1d4: #1d4ed8;
$blue-056: #0565bb;
$blue-1a5: #1a58f2;
$blue-659: #659bf5;
$blue-245: #245fc5;
$gray-a1a: #a1a1a1;
$black-404: #404142;
$orange-ea4: #ea4913;
$orange-f96: #f96400;
$orange-fa7: #fa7b26;
$yellow-fcc: #fccb05;
$yellow-fcd: #fcd32a;
$orange-ff5: #ff5500;
