@use "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.home-wrap {
  @include respond-to(xl) {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
