@use "../../../styles/variables.scss";
@import "../../../styles/responsive.scss";

.best-product-card {
  position: relative;

  &__thumbnail {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__order-number {
    position: absolute;
    background-image: image-set(
      url("../../../../public/assets/images/producticon-bg.png") 1x,
      url("../../../../public/assets/images/producticon-bg@2x.png") 2x,
      url("../../../../public/assets/images/producticon-bg@3x.png") 3x
    );
    height: 60px;
    width: 60px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-weight: 800;
    font-size: 16px;
    transform: translateY(-50%);
    color: variables.$black-111;

    @include respond-to(lg) {
      height: 70px;
      width: 70px;
      font-size: 20px;
    }
  }

  &__btn {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    background-color: variables.$white-fff;
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
    border: 2px solid variables.$black-111;
    font-size: 14px;
    font-weight: 800;
    padding: 6px 8px 6px 27px;
    width: 70%;
    color: variables.$black-111;
    z-index: 1;

    @include respond-to(sm) {
      gap: 12px;
    }

    @include respond-to(lg) {
      gap: 32px;
    }

    &__go {
      position: relative;
      text-transform: uppercase;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: variables.$black-111;
      color: variables.$white-fff;
      flex-shrink: 0;

      &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
